/Patterns/*.suo
/Patterns/bin/Debug/Decorator.exe
/Patterns/bin/Debug/Decorator.exe.config
/Patterns/bin/Debug/Decorator.pdb
/Patterns/bin/Debug/Decorator.vshost.exe
/Patterns/bin/Debug/Decorator.vshost.exe.config
/Patterns/bin/Debug/Patterns.exe
/Patterns/bin/Debug/Patterns.exe.config
/Patterns/bin/Debug/Patterns.pdb
/Patterns/bin/Debug/Patterns.vshost.exe.config
/Patterns/bin/Debug/Patterns.vshost.exe.manifest
/Patterns/obj/Debug/Decorator.csproj.FileListAbsolute.txt
/Patterns/obj/Debug/Decorator.csprojResolveAssemblyReference.cache
/Patterns/obj/Debug/Decorator.exe
/Patterns/obj/Debug/Decorator.pdb
/Patterns/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Patterns/obj/Debug/Patterns.csproj.FileListAbsolute.txt
/Patterns/obj/Debug/Patterns.csprojResolveAssemblyReference.cache
/Patterns/obj/Debug/Patterns.exe
/Patterns/obj/Debug/Patterns.pdb
/Patterns/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Patterns/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Patterns/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Strategy/bin/Debug/*.exe
/Strategy/bin/Debug/*.config
/Strategy/bin/Debug/*.pdb
/Strategy/obj/Debug/*.cache
/Strategy/obj/Debug/*.txt
/Strategy/obj/Debug/*.exe
/Strategy/obj/Debug/*.pdb
/Strategy/obj/Debug/*.cs
/Decorator/bin/Debug/*.exe
/Decorator/bin/Debug/*.config
/Decorator/bin/Debug/*.pdb
/Decorator/bin/Debug/*.manifest
/Decorator/obj/Debug/*.txt
/Decorator/obj/Debug/*.cache
/Decorator/obj/Debug/*.exe
/Decorator/obj/Debug/*.pdb
/Decorator/obj/Debug/*.cs
/*.suo
/Strategy/bin/Debug/*.manifest
/Decorator/*.suo
*.exe
*.pdb
*.txt
*.cache
/Builder/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Builder/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Builder/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Builder/bin/Debug/Builder.exe.config
/Builder/bin/Debug/Builder.vshost.exe.config
AbstractFactory.cs.exe.config
AbstractFactory.cs.vshost.exe.config
AbstractFactory.cs.vshost.exe.manifest
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
